.container{
    margin: 10px;
}

#searchTitle{
    font-weight: bold;
}

#navTitle{
    color:white;
    font-size: 50px;
    margin: 0% 33% 0% 33%;
}

#forecastTitle {
    font-weight: bold;
    font-size: 15px;
}

.forecastbox {
    background-color: aquamarine;
}
