.container{
    margin: 10px;
    margin-right: 10px;
    float: none;
}

#searchTitle{
    font-weight: bold;
}

#mainTitle{
    font-size: 40px;
    color: gray;
    font-weight: bold;
}

#navTitle{
    color:white;
    font-size: 50px;
    margin: 0% 33% 0% 33%;
}

#forecastTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.forecastbox {
    background-color: aquamarine;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.row{
    margin: auto;
}
